.comments{
    display: flex;
    flex-direction: column;
    
}


.comment-counts{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.comment-counts svg{
    color: #918d8d;
    margin-right: 10px;
}

.comment___counts{
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    margin-right: 30px;
}

.comment___sort{
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    color: #5f5f5f;
}

.enter-comment{
    display: flex;
    margin-top: 25px;
}

.enter-comment > input{
    flex: 1;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
    font-family: roboto;
    font-size: 14px;
    height: 25px;
    outline: none;
}