.watch-video{
    height: auto;
    display: flex;
    background-color: rgb(249, 249, 249);
    flex-direction: column;
}

.video-suggested{
    display: flex;
}

.video-container{
    flex: 0.67;
}

.suggested-sidebar{
    flex: 0.33;
 
  
}